<app-barra></app-barra>

<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="titulo">Participación en actividad relacionada con el Plan de Estudios</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #participaciones_plan_estudios="ngForm">
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Descripción de la participación</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="text" name="descripcion_participacion_plan_estudios" class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Fecha de la participación</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="date" name="fecha_participacion_plan_estudios" class="form-control" ngModel>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary caracteristicas-boton" (click)="guardar(participaciones_plan_estudios)">Guardar</button>
  </div>
</ng-template>

<section id="participaciones_plan_estudios">
  <div class="datos">
    <div class="container ">
      <div class="row">
        <div class="col-sm">
          <h1 class="titulo">Participación en actividades relacionadas con el Plan de Estudios</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <table mat-table [dataSource]="registros" class="table table-striped table-bordered">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id_participacion_plan_estudios}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <mat-header-cell *matHeaderCellDef>Participación</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.descripcion_participacion_plan_estudios}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="accion">
              <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button (click)="borrarRegistro(element)" class="btn" title="Borrar"><i class="fas fa-trash fa-1x"></i></button>
                <button class="btn" title="Editar"><i class="fas fa-edit fa-1x"></i></button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="agregar">
              <mat-footer-cell *matFooterCellDef>
                <h3> <i class="fas fa-plus" aria-hidden="true" style="color: blue;"
                      (click)="agregarRegistro(content)"></i> Agregar Nuevo Registro</h3>
              </mat-footer-cell>
            </ng-container>
             <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
             <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
             <mat-footer-row *matFooterRowDef="['agregar']"></mat-footer-row>
          </table>
          <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>
