<app-barra></app-barra>

<ng-template #content let-modal>
  
  <div class="modal-header">
    <h3 class="titulo">Formación Académica</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #formacion="ngForm">
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Nombre del nivel académico</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="text" name="nombre_nivel_academico" class="form-control" [ngModel]="formacionEditar['nombre_nivel_academico']">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Nombre de la institución</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="text" name="institucion_formacion" class="form-control" [ngModel]="formacionEditar['institucion_formacion']">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Ciudad</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="text" name="ciudad_formacion" class="form-control" [ngModel]="formacionEditar['ciudad_formacion']">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Estado</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="text" name="estado_formacion" class="form-control" [ngModel]="formacionEditar['estado_formacion']">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>País</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <select class="form-control" name="nombre_pais" [ngModel]="formacionEditar['nombre_pais']">
              <option *ngFor="let pais of paises">{{pais}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Fecha de obtención</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="date" name="fecha_formacion" class="form-control" [ngModel]="formacionEditar['fecha_formacion']">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Cédula profesional</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="number" name="cedula_profesional" class="form-control" [ngModel]="formacionEditar['cedula_profesional']">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Tipo de formación académica</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <select class="form-control" name="nombre_tipo_formacion_academica" [ngModel]="formacionEditar['nombre_tipo_formacion_academica']">
              <option *ngFor="let nombre_tipo_formacion_academica of nombres_tipos_formacion_academica">{{nombre_tipo_formacion_academica}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Localidad donde se obtuvo</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <select class="form-control" name="descripcion_tipo_localidad" [ngModel]="formacionEditar['descripcion_tipo_localidad']">
              <option *ngFor="let descripcion_tipo_localidad of descripciones_tipos_localidad">{{descripcion_tipo_localidad}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer" *ngIf="!actualizar; else update">
    <button type="submit" class="btn btn-primary caracteristicas-boton" (click)="guardar(formacion)">Guardar</button>
  </div>
  <ng-template #update>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary caracteristicas-boton" (click)="editar(formacion)">Actualizar</button>
    </div>
  </ng-template>
</ng-template>

<section id="formacion-academica">
  <div class="datos">
    <div class="container ">
      <div class="row">
        <div class="col-sm">
          <h1 class="titulo">Formación Académica</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <table mat-table [dataSource]="registros" class="table table-striped table-bordered">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id_formacion_academica}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef>Nombre Formación </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.nombre_nivel_academico}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="accion">
              <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button (click)="borrarRegistro(element)" class="btn" title="Borrar"><i class="fas fa-trash fa-1x"></i></button>
                <button (click)="editarRegistro(content,element)" class="btn" title="Editar"><i class="fas fa-edit fa-1x"></i></button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="agregar">
              <mat-footer-cell *matFooterCellDef>
                <h3> <i class="fas fa-plus" aria-hidden="true" style="color: blue;"
                      (click)="agregarRegistro(content)"></i> Agregar Nuevo Registro</h3>
              </mat-footer-cell>
            </ng-container>
             <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
             <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
             <mat-footer-row *matFooterRowDef="['agregar']"></mat-footer-row>
          </table>
          <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>
