<app-barra></app-barra>

<section id="informacion-general">
  <div class="datos">
    <div class="container ">
      <form #informacion_general="ngForm">
        <div class="row">
          <div class="col-sm">
            <h1 class="titulo">Información General</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h3>Número del profesor</h3>
          </div>
          <div class="col-sm">
            <input type="number" name="numero_profesor" class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h3>Nombres</h3>
          </div>
          <div class="col-sm">
            <input type="text" name="nombres_profesor" class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h3>Apellido paterno</h3>
          </div>
          <div class="col-sm">
            <input type="text" name="apellido_paterno" class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h3>Apellido materno</h3>
          </div>
          <div class="col-sm">
            <input type="text" name="apellido_materno" class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h3>Fecha de nacimiento</h3>
          </div>
          <div class="col-sm">
            <input type="date" name="fecha_nacimiento" class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h3>Puesto en la institución:</h3>
          </div>
          <div class="col-sm">
            <input type="text" name="puesto_en_institucion" class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h3>Fecha de contratación en la institución</h3>
          </div>
          <div class="col-sm">
            <input type="date" name="fecha_contratacion_institucion" class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h3>Categoría contratación actual</h3>
          </div>
          <div class="col-sm">
            <input type="text" name="categoria_contratacion_actual" class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h3>Tipo contratación actual</h3>
          </div>
          <div class="col-sm">
            <input type="text" name="tipo_contratacion_actual" class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <button type="submit" class="btn btn-primary" id="entrega" (click)="guardar(informacion_general)">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
