#experiencia-profesional {
	position: relative;
	height: 100vh;
	background: linear-gradient(90deg, rgba(27,57,106,1) 0%, rgba(107,132,171,1) 61%, rgba(192,203,222,1) 97%);
	background-size: cover;
    border-radius: 1rem;
}

i{
	cursor: pointer;
}