<app-barra></app-barra>

<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="titulo">Experiencia Profesional</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #experiencia_profesional="ngForm">
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Actividad o puesto</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="text" name="actividad_puesto_experiencia" class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Organización o empresa</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="text" name="empresa_experiencia" class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Fecha de inicio</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="date" name="fecha_inicio_experiencia" class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Fecha de término</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="date" name="fecha_fin_experiencia" class="form-control" ngModel>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary caracteristicas-boton" (click)="guardar(experiencia_profesional)">Guardar</button>
  </div>
</ng-template>

<section id="experiencia-profesional">
  <div class="datos">
    <div class="container ">
      <div class="row">
        <div class="col-sm">
          <h1 class="titulo">Experiencia Profesional</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <table mat-table [dataSource]="registros" class="table table-striped table-bordered">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id_experiencias_profesionales}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actividad">
              <mat-header-cell *matHeaderCellDef>Actividad</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.actividad_puesto_experiencia}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="accion">
              <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button (click)="borrarRegistro(element)" class="btn" title="Borrar"><i class="fas fa-trash fa-1x"></i></button>
                <button class="btn" title="Editar"><i class="fas fa-edit fa-1x"></i></button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="agregar">
              <mat-footer-cell *matFooterCellDef>
                <h3> <i class="fas fa-plus" aria-hidden="true" style="color: blue;"
                      (click)="agregarRegistro(content)"></i> Agregar Nuevo Registro</h3>
              </mat-footer-cell>
            </ng-container>
             <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
             <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
             <mat-footer-row *matFooterRowDef="['agregar']"></mat-footer-row>
          </table>
          <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10]"></mat-paginator> 
        </div>
      </div>
    </div>
  </div>
</section>
