#lateral{
	position: fixed;
	z-index: 3;
	width: 10%;
	height: 100%;
}

#barra{
	position: fixed;
	z-index: 3;
	width: 10%;
	height: 100%;
}

ul{
	height: 100%;
}

#barra ul li{
	list-style: none;
	background: black;
	width: 50%;
	height: 7.7%;
	transition: width 0.5s;
}

#barra ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	display: block;
	padding-top: 11px;
	text-align: center;
	height: 100%;
}

#barra ul li:hover{
	background-color: darkgrey;
	height: 7.7%;
	width: 80%;
	transition: width 0.1s;
	border-radius: 0.3rem;
}

#barra ul li i{
	padding-right: 5px;
}

#barra ul li #menu-informacion-general:hover:after{
	content: "Información General";
}

#barra ul li #menu-formacion-academica:hover:after{
	content: "Formación Académica";
}

#barra ul li #menu-capacitacion-docente:hover:after{
	content: "Capacitación Docente";
}

#barra ul li #menu-actualizacion-disciplinar:hover:after{
	content: "Actualización Disciplinar";
}

#barra ul li #menu-puesto-academico:hover:after{
	content: "Puesto Académico";
}

#barra ul li #menu-productos-academicos:hover:after{
	content: "Productos Académicos";
}

#barra ul li #menu-experiencia-profesional:hover:after{
	content: "Experiencia Profesional";
}

#barra ul li #menu-experiencia-disenio-ing:hover:after{
	content: "Experiencia Diseño";
}

#barra ul li #menu-logros-profesionales:hover:after{
	content: "Logros Profesionales";
}

#barra ul li #menu-participaciones-org-profesionales:hover:after{
	content: "Participación en Organismos";
}

#barra ul li #menu-premios-reconocimientos:hover:after{
	content: "Premios o reconocimientos";
}

#barra ul li #menu-participaciones-plan-estudios:hover:after{
	content: "Participación Actividades PE";
}

#barra ul li #menu-cursos-impartidos:hover:after{
	content: "Cursos impartidos";
}