<app-barra></app-barra>

<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="titulo">Capacitación Docente</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #capacitacion="ngForm">
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Tipo de capacitación</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="text" name="tipo_capacitacion" class="form-control" [ngModel]="capacitacionEditar['tipo_capacitacion']">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Institución</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="text" name="institucion_capacitacion" class="form-control" 
            [ngModel]="capacitacionEditar['institucion_capacitacion']">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>País</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <select class="form-control" name="nombre_pais" [ngModel]="capacitacionEditar['nombre_pais']">
              <option *ngFor="let pais of paises">{{pais}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Fecha de obtención</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="date" name="fecha_capacitacion" class="form-control" [ngModel]="capacitacionEditar['fecha_capacitacion']">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Horas de capacitación</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <input type="number" name="horas_capacitacion" class="form-control" [ngModel]="capacitacionEditar['horas_capacitacion']">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 etiquetas-modales">
            <h4>Nivel de capacitación</h4>
          </div>
          <div class="col-sm-12 col-md-7">
            <select class="form-control" name="nombre_nivel_capacitacion_docente" [ngModel]="capacitacionEditar['nombre_nivel_capacitacion_docente']">
              <option *ngFor="let nivel_capacitacion_docente of niveles_capacitacion_docente">{{nivel_capacitacion_docente}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer" *ngIf="!actualizar; else update">
    <button type="submit" class="btn btn-primary caracteristicas-boton" (click)="guardar(capacitacion)">Guardar</button>
  </div>
  <ng-template #update>
    <div class="modal-footer">
    <button type="submit" class="btn btn-primary caracteristicas-boton" (click)="editar(capacitacion)">Editar</button>
  </div>
  </ng-template>
</ng-template>

<section id="capacitacion-docente">
  <div class="datos">
    <div class="container ">
      <div class="row">
        <div class="col-sm">
          <h1 class="titulo">Capacitación Docente</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <table mat-table [dataSource]="registros" class="table table-striped table-bordered">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id_capacitacion_docente}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tipo capacitacion">
              <mat-header-cell *matHeaderCellDef>Tipo Capacitación </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.tipo_capacitacion}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="accion">
              <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button (click)="borrarRegistro(element)" class="btn" title="Borrar"><i class="fas fa-trash fa-1x"></i></button>
                <button (click)="editarRegistro(content,element)" class="btn" title="Editar"><i class="fas fa-edit fa-1x"></i></button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="agregar">
              <mat-footer-cell *matFooterCellDef>
                <h3> <i class="fas fa-plus" aria-hidden="true" style="color: blue;"
                      (click)="agregarRegistro(content)"></i> Agregar Nuevo Registro</h3>
              </mat-footer-cell>
            </ng-container>
             <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
             <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
             <mat-footer-row *matFooterRowDef="['agregar']"></mat-footer-row>
          </table>
          <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>
