<div class="fondo">
  <div class="container">
    <div class="row alineacion-vertical">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-login flex-row my-5">
          <!-- La imagen de fondo esta en el archivo de CSS en esta clase -->
          <div class="card-img-left d-none d-md-flex"></div>
          <!-- Aquí se encuentra el contenido del login -->
          <div class="card-body">
            <!-- Título de la tarjeta -->
            <h5 class="card-title text-center">Iniciar sesión</h5>              
            
            <hr>
            
            <!-- Datos requeridos -->
            <form class="form-signin" #usuario="ngForm" (ngSubmit)="iniciarSesion(usuario)">
              <div class="form-label-group">
                <input type="email" id="correoInsertado" class="form-control" placeholder="Correo electrónico" name="correo" required ngModel>
                <label for="correoInsertado">Correo electrónico</label>
              </div>
              <div class="form-label-group">
                <input type="password" id="contraseniaInsertada" class="form-control" placeholder="Contraseña" name="contrasenia" required ngModel>
                <label for="contraseniaInsertada">Contraseña</label>
              </div>
              <hr class="my-4">
              <button class="btn btn-lg btn-primary btn-block text-uppercase color-boton" type="submit">Iniciar sesión</button>
              <a class="d-block text-center mt-2 small" href="#"><p class="color-texto">Registrarse</p></a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>